<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout :: head('Create Post')}" ></head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container mt-4">
    <h2>Create Post in <span th:text="${subforum.title}">Forum</span></h2>
    <div th:if="${!errors.isEmpty()}" class="alert alert-danger">
        <ul class="mb-0">
            <li th:each="err : ${errors}" th:text="${err}">Error</li>
        </ul>
    </div>
    <form th:action="@{/action_post(sub=${subforum.id})}" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control" required
                   minlength="5" maxlength="139"
                   th:value="${title}"/>
        </div>

        <div class="mb-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="insertMarkdown('**', '**')">Bold</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="insertMarkdown('*', '*')">Itlaic</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="insertMarkdown('#', '')">Heading</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="insertMarkdown('- ', '')">List</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="insertMarkdown('[', '](https://example.com)')">Link</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="insertMarkdown('`', '`')">Code</button>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea id ="content" name="content" class="form-control" rows="8" required
                      minlength="11" maxlength="4999"
                      th:text="${content}"></textarea>
        </div>
        <button type="submit" 
                th:formaction="@{/action_post(sub=${subforum.id})}"
                class="btn btn-primary">Post</button>
        <button type="submit"
                th:formaction="@{/preview_post(sub=${subforum.id})}"
                class="btn btn-secondary">Preview</button>
        <a th:href="@{/subforum(sub=${subforum.id})}" class="btn btn-secondary ml-2">Cancel</a>
    </form>
    <div th:if="${isPreview}" class="mt-4">
        <h4>Preview</h4>
        <div class="card">
            <div class="card-body" th:utext="${previewHtml}"></div>
        </div>
    </div>
</div>
<script>
    function insertMarkdown(before, after) {
        const textarea = document.getElementById("content"); 
        const start = textarea.selectionStart;
        const end = textarea.selectionEnd;
        const selectedText = textarea.value.subsring(start, end);

        const textToInsert = selectedText || "text";

        const replacement = before + textToInsert + after; 

        textarea.value = 
            textarea.value.substring(0, start) +
            replacement +
            textarea.value.substring(end); 

        textarea.focus();

        const cursorStart = start + before.length;
        const cursorEnd = cursorStart + textToInsert.length

        textarea.selectionStart = cursorStart;
        textarea.selectionEnd = cursorEnd; 
    }
</script>
</body>
</html>
